.App {
  text-align: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.AppMain {
    position: absolute;
  background: url("./miko.jpg") 50% 50% no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
  overflow-x: hidden;
  top: -300px;
  animation: background-move infinite 20s linear;
  border-radius: 1000px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes background-move {
    0% {
        top: -300px;
        left: 0;
        transform: rotate(0deg)
    }
    10% {
        top: 300px;
        left: 100px;
    }
    50% {
        top: 500px;
        left: 500px;
        transform: rotate(360deg)
    }

    65% {
        top: 500px;
        left: 800px;
    }
    75% {
        top: 500px;
        left: 500px;
    }
    90% {
        top: 300px;
        left: 100px;
    }
    100% {
        top: -300px;
        left: 0;
        transform: rotate(0deg)
    }
}
